:root{
    --dark-grey: rgb(65, 63, 63);
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ECEEF1;
}
/* style for body's parts features*/
header{
    text-align: center;
}
.signIn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;
    line-height: 1em;
}
.signIn ul, .signIn button{
    display: inline;
    margin: 10px 5px;
}
.signIn ul{
    text-align: right;
}
.signIn ul li{
    list-style: none;
    font-size: 0.7em;
}
#signIn{
    width: 95px;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 0.9em;
    background-color: #0077C5;
    color: white;
}
.form{
    background-color: white;
    margin: auto;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 2px;
    width: 400px;
    text-align: center;
    padding-bottom: 15px;
}
form{
    width: 75%;
    margin: auto;
    text-align: left;
    margin-bottom: 40px;
}
/* style inside the form */
form label, form input, button{
    display: block;
    width: 100%;
    margin: 10px 0;
}
form input{
    padding: 10px 5px;
    margin-bottom: 20px;
}
/* style the header of form */
.form-header p{
    margin-bottom: 0;
    font-size: 0.9em;
}
.form-header a{
    font-size: 0.7em;
}
.password{
    position: relative;
}
.password i{
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 20px;
    color: lightgray;
}

button[type="submit"]{
    padding: 3px;
    background-color: rgb(76, 176, 238);
    border: 1px solid lightgray;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    font-size: 1em;
}
/* style the note */
.note{
    width: 70%;
    font-size: 0.7em;
    font-style: italic;
    margin: auto;
    color: gray;
    line-height: 2em;

}
/* style the footer */
footer{
    margin-top: 25px;
    text-align: center;
    font-size: 0.7em;
    color: var(--dark-grey);
    line-height: 0.9em;
}
footer li{
    list-style: none;
    display: inline;
    margin: 0 5px;
}
footer li a{
    text-decoration: none;
    color: var(--dark-grey);
}